body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabecera,
.pie {
    background-color: #333333;
}

.arriba,
.subscripciones {
    background-color: white;
}

.abajo {
    background-color: #DCDCDC;
}

.container {
    margin-left: 100px;
    margin-right: 100px;
    /*height: 220px;*/
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.barra-iz {
    font-size: 18px;
    font-weight: 700;
}

.barra-der {
    display: flex;
    gap: 12px;
}

.cabecera img {
    height: 200px;
    width: 400px;
}

.sub-cabecera {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.boton-subscripciones-1,
.boton-subscripciones-2 {
    font-weight: 700;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 11px;
    background-color: #008080;
}

.encabezado {
    font-weight: 700;
    font-size: 32px;
    color: white;
}

.texto {
    color: white;
    font-size: 12px;
}

.carta img {
    height: 100px;
    width: 100px;
    border-radius: 12px;
    border: 2px solid #008080;
}


.arriba .encabezado {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    padding: 20px;
}

.texto-carta{
    display: flex;
    font-size: 8px;
    width: 100px;
}
.cartas {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    text-align: center;
    margin-bottom: 50px;
}

.carta {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadro-de-texto {
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cita {
    font-size: 20px;
    font-style: italic;
}

.autor-cita {
    font-weight: 700;
    font-size: 15px;
    text-align: right;
    padding: 4px;
}

.caja-subscripciones {
    background-color: #008080;
    padding: 52px;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.titulo-subscripciones {
    font-weight: 700;
}

.texto-subscripciones {
    color: white;
    font-size: 12px;
}

.boton-subscripciones-2 {
    border: 2px solid transparent;
    border-color: white;
}

.texto-pie {
    color: white;
    text-align: center;
    padding: 18px;
}
/*#F0FFFF gris

#008080 cyan